* {
  margin: 0;
}
.App {
  background-color: rgb(213, 231, 248);
  padding: 5rem 10rem;

  .Title {
    font-size: 2rem;
    margin: auto;
    text-align: center;
  }

  .underlineContainer {
    display: flex;
    justify-content: center;

    .underline {
      width: 6vw;
      background-color: rgb(158, 136, 11);
      height: 5px;
      border-radius: 6px;
      margin: 0.5rem 0;
    }
  }

  @media (min-width: 1000px) {
    .Title {
      font-size: 3rem;
    }
    .underline {
      height: 3rem;
    }
  }
}
