.MainContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ItemsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 40px;
  column-gap: 35px;
  margin-top: 1rem;
}

.categoriesContainer {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
